# ignore nb generated data
data/*
docs/notebook/data
mldata/

# Sphinx documentation
doc/
docs/project/static/notebooks/*.html

# tox
.pytest_cache/

# tags
.tags*

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.idea/
.vscode/
