sudo: false

cache:
  apt: true
  directories:
  - $HOME/.cache/pip
  - $HOME/.ccache
  - $HOME/.pip-cache

dist: trusty
language: python

notifications:
  email: false


matrix:
  include:
    - python: '2.7'
      env: TOXENV="flake8"

    - python: '2.7'
      env: TOXENV="docs"

    - python: '2.7'
      env: TOXENV="py27-linux"

    - python: '3.5'
      env: TOXENV="py35-linux"

    - python: '3.6'
      env: TOXENV="py36-linux"

install:
    - pip install tox
    - pip install sphinxcontrib-napoleon
    - pip install sphinxcontrib.programoutput
    - pip install travis-sphinx
    - pip install python-coveralls

script:
  - tox -vv

after_success:
  - coveralls
  - travis-sphinx deploy
